.welcome-icons * {
    @apply transition-colors duration-300;
}

:is(.dark) .welcome-icons [fill="#E5E7EB"] {
    fill: #374151;
}
:is(.dark) .group:hover .welcome-icons [fill="#E5E7EB"] {
    fill: #0F766E;
}

/* WebCheckout Icon */
.group:hover .welcome-icons.checkout [fill="#E5E7EB"] {
    fill: rgba(20, 184, 166, 0.5);
}

.group:hover .welcome-icons.checkout [fill="#F9FAFB"] {
    fill: rgba(240, 253, 250, 1);
}

.group:hover .welcome-icons.checkout [fill="#D1D5DB"] {
    fill: rgba(13, 148, 136, 1);
}

.group:hover .welcome-icons.checkout [stroke="#D1D5DB"] {
    stroke: rgba(13, 148, 136, 1);
}

/* Dark */
:is(.dark) .welcome-icons.checkout [fill="#fff"] {
    fill: #6B7280;
}

:is(.dark) .welcome-icons.checkout [fill="#F9FAFB"] {
    fill: #4B5563;
}

:is(.dark) .welcome-icons.checkout [fill="#D1D5DB"] {
    fill: #1F2937;
}

:is(.dark) .welcome-icons.checkout [stroke="#D1D5DB"] {
    stroke: #1F2937;
}

/* Dark Hover */

:is(.dark) .group:hover .welcome-icons.checkout [fill="#fff"] {
    fill: #0F766E;
}

:is(.dark) .group:hover .welcome-icons.checkout [fill="#F9FAFB"] {
    fill: #115E59;
}

:is(.dark) .group:hover .welcome-icons.checkout [fill="#D1D5DB"] {
    fill: #134E4A;
}

:is(.dark) .group:hover .welcome-icons.checkout [stroke="#D1D5DB"] {
    stroke: #134E4A;
}


/* Gateway Icon */
.group:hover .welcome-icons.gateway [fill="#fff"]:not(.discover) {
    fill: #F0FDFA;
}

.group:hover .welcome-icons.gateway [stroke="#D1D5DB"] {
    stroke: #2DD4BF;
}

.group:hover .welcome-icons.gateway [fill="#D1D5DB"] {
    fill: #2DD4BF;
}

.group:hover .welcome-icons.gateway [fill="#6B7280"] {
    fill: #000;
}

.group:hover .welcome-icons.gateway .master[fill="#D1D5DB"] {
    fill: #F79E1B;
}
.group:hover .welcome-icons.gateway .master[fill="#9CA3AF"] {
    fill: #EB001B;
}
.group:hover .welcome-icons.gateway .master[fill="#F9FAFB"] {
    fill: #FF5F00;
}

.group:hover .welcome-icons.gateway .visa[fill="#9CA3AF"] {
    fill: #1434CB;
}

.group:hover .welcome-icons.gateway .amex[fill="#9CA3AF"] {
    fill: #016FD0;
}
.group:hover .welcome-icons.gateway .amex[fill="#9CA3AF"] {
    fill: #016FD0;
}

.group:hover .welcome-icons.gateway .discover[fill="#9CA3AF"] {
    fill: #F27712;
}
.group:hover .welcome-icons.gateway .discover[fill="#D1D5DB"] {
    fill: #111827;
}

/* Dark */
:is(.dark) .welcome-icons.gateway [fill="#fff"]:not(.discover, .visa, .master, .amex) {
    fill: #6B7280;
}
:is(.dark) .welcome-icons.gateway [stroke="#D1D5DB"]:not(.symbol) {
    stroke: #1F2937;
}
:is(.dark) .welcome-icons.gateway [fill="#D1D5DB"]:not(.symbol, .discover) {
    fill: #1F2937;
}
:is(.dark) .welcome-icons.gateway .symbol[stroke="#D1D5DB"] {
    stroke: #4B5563;
}

:is(.dark) .group:not(:hover) .welcome-icons.gateway .master[fill="#6B7280"] {
    fill: #9CA3AF;
}
:is(.dark) .welcome-icons.gateway .master[fill="#D1D5DB"] {
    fill: #e5e7eb;
}
:is(.dark) .welcome-icons.gateway .master[fill="#9CA3AF"] {
    fill: #D1D5DB;
}

:is(.dark) .group:hover .welcome-icons.gateway [fill="#fff"]:not(.discover, .visa, .master, .amex) {
    fill: #0F766E;
}

:is(.dark) .group:hover .welcome-icons.gateway [fill="#E5E7EB"] {
    fill: #14B8a6;
}

:is(.dark) .group:hover .welcome-icons.gateway .symbol[stroke="#D1D5DB"] {
    stroke: #14B8a6;
}

/* Token Requestor */
.group:hover .welcome-icons.token-requestor [fill="#D1D5DB"] {
    fill: #2DD4BF;
}
.group:hover .welcome-icons.token-requestor [fill="#F9FAFB"] {
    fill: #F0FDFA;
}
.group:hover .welcome-icons.token-requestor [stroke="#F9FAFB"] {
    stroke: #F0FDFA;
}

/* Dark */
:is(.dark) .welcome-icons.token-requestor [fill="#D1D5DB"] {
    fill: #1F2937;
}
:is(.dark) .welcome-icons.token-requestor [fill="#F9FAFB"] {
    fill: #4B5563;
}
:is(.dark) .welcome-icons.token-requestor [stroke="#F9FAFB"] {
    stroke: #4B5563;
}

:is(.dark) .group:hover .welcome-icons.token-requestor [fill="#D1D5DB"] {
    fill: #115E59;
}
:is(.dark) .group:hover .welcome-icons.token-requestor [fill="#F9FAFB"] {
    fill: #0D9488;
}
:is(.dark) .group:hover .welcome-icons.token-requestor [stroke="#F9FAFB"] {
    stroke: #0D9488;
}


/* ThreeDS */
.group:hover .welcome-icons.three-ds [fill="#D1D5DB"] {
    fill: #2DD4BF;
}
.group:hover .welcome-icons.three-ds [fill="#F9FAFB"] {
    fill: #F9FAFB;
}

/* Dark */
:is(.dark) .welcome-icons.three-ds [fill="#D1D5DB"] {
    fill: #1F2937;
}
:is(.dark) .welcome-icons.three-ds [fill="#F9FAFB"] {
    fill: #4B5563;
}

:is(.dark) .group:hover .welcome-icons.three-ds [fill="#D1D5DB"] {
    fill: #115E59;
}
:is(.dark) .group:hover .welcome-icons.three-ds [fill="#F9FAFB"] {
    fill: #0D9488;
}

/* ACS */
.group:hover .welcome-icons.acs [fill="#D1D5DB"] {
    fill: #2DD4BF;
}
.group:hover .welcome-icons.acs [fill="#9CA3AF"] {
    fill: #2DD4BF;
}
.group:hover .welcome-icons.acs [stroke="#D1D5DB"] {
    stroke: #2DD4BF;
}
.group:hover .welcome-icons.acs [fill="#F3F4F6"] {
    fill: #CCFBF1;
}

/* Dark */
:is(.dark) .welcome-icons.acs [fill="#D1D5DB"] {
    fill: #374151;
}
:is(.dark) .welcome-icons.acs [fill="#9CA3AF"] {
    fill: #374151;
}
:is(.dark) .welcome-icons.acs [stroke="#D1D5DB"] {
    stroke: #374151;
}
:is(.dark) .welcome-icons.acs [fill="#F3F4F6"] {
    fill: #6B7280;
}

:is(.dark) .group:hover .welcome-icons.acs [fill="#D1D5DB"] {
    fill: #0F766E;
}
:is(.dark) .group:hover .welcome-icons.acs [stroke="#D1D5DB"] {
    stroke: #0F766E;
}
:is(.dark) .group:hover .welcome-icons.acs [fill="#9CA3AF"] {
    fill: #134E4A;
}
:is(.dark) .group:hover .welcome-icons.acs [fill="#F3F4F6"] {
    fill: #14B8A6;
}

/* Payment Links */
.group:hover .welcome-icons.payment-links [fill="#D1D5DB"] {
    fill: #2DD4BF;
}
.group:hover .welcome-icons.payment-links [stroke="#9CA3AF"] {
    stroke: #2DD4BF;
}
.group:hover .welcome-icons.payment-links [fill="#9CA3AF"] {
    fill: #2DD4BF;
}
.group:hover .welcome-icons.payment-links [fill="#F9FAFB"] {
    fill: #F0FDFA;
}

/* Dark */
:is(.dark) .welcome-icons.payment-links [fill="#D1D5DB"] {
    fill: #1F2937;
}
:is(.dark) .welcome-icons.payment-links [stroke="#9CA3AF"] {
    stroke: #1F2937;
}
:is(.dark) .welcome-icons.payment-links [fill="#9CA3AF"] {
    fill: #1F2937;
}
:is(.dark) .welcome-icons.payment-links [fill="#F9FAFB"] {
    fill: #4B5563;
}

:is(.dark) .group:hover .welcome-icons.payment-links [fill="#D1D5DB"] {
    fill: #115E59;
}
:is(.dark) .group:hover .welcome-icons.payment-links [stroke="#9CA3AF"] {
    stroke: #115E59;
}
:is(.dark) .group:hover .welcome-icons.payment-links [fill="#9CA3AF"] {
    fill: #115E59;
}
:is(.dark) .group:hover .welcome-icons.payment-links [fill="#F9FAFB"] {
    fill: #0D9488;
}

/* Microsites */
.group:hover .welcome-icons.microsites [fill="#D1D5DB"] {
    fill: #2DD4BF;
}
.group:hover .welcome-icons.microsites [stroke="#9CA3AF"] {
    stroke: #2DD4BF;
}
.group:hover .welcome-icons.microsites [fill="#9CA3AF"] {
    fill: #2DD4BF;
}
.group:hover .welcome-icons.microsites [fill="#F9FAFB"] {
    fill: #F0FDFA;
}

/* Microsites Dark */
:is(.dark) .welcome-icons.microsites [fill="#F3F4F6"] {
    fill: #6B7280;
}
:is(.dark) .welcome-icons.microsites [stroke="#9CA3AF"] {
    stroke: #374151;
}
:is(.dark) .welcome-icons.microsites [fill="#9CA3AF"] {
    fill: #1F2937;
}
:is(.dark) .welcome-icons.microsites [fill="#D1D5DB"] {
    fill: #374151;
}
:is(.dark) .welcome-icons.microsites .frame-image[stroke="#D1D5DB"] {
    stroke: #374151;
}

/* Microsites Dark hover */
:is(.dark) .group:hover .welcome-icons.microsites [fill="#9CA3AF"] {
    fill: #115E59;
}
:is(.dark) .group:hover .welcome-icons.microsites [fill="#D1D5DB"] {
    fill: #115E59;
}
:is(.dark) .group:hover .welcome-icons.microsites .frame-image[stroke="#D1D5DB"] {
    stroke: #115E59;
}
:is(.dark) .group:hover .welcome-icons.microsites [fill="#F3F4F6"] {
    fill: #0D9488;
}

/* Selfdeclarations */
.group:hover .welcome-icons.selfdeclarations [fill="#D1D5DB"] {
    fill: #5EEAD4;
}
.group:hover .welcome-icons.selfdeclarations [stroke="#D1D5DB"] {
    stroke: #5EEAD4;
}
.group:hover .welcome-icons.selfdeclarations [fill="#F3F4F6"] {
    fill: #CCFBF1;
}
.group:hover .welcome-icons.selfdeclarations [fill="#9CA3AF"] {
    fill: #2DD4BF;
}

/* Selfdeclarations Dark */
:is(.dark) .welcome-icons.selfdeclarations [fill="#D1D5DB"] {
    fill: #374151;
}
:is(.dark) .welcome-icons.selfdeclarations [stroke="#D1D5DB"] {
    stroke: #374151;
}
:is(.dark) .welcome-icons.selfdeclarations [fill="#F3F4F6"] {
    fill: #6B7280;
}
:is(.dark) .welcome-icons.selfdeclarations [fill="#9CA3AF"] {
    fill: #1F2937;
}

/* Selfdeclarations Dark Hover */
:is(.dark) .group:hover .welcome-icons.selfdeclarations [fill="#D1D5DB"] {
    fill: #0F766E;
}
:is(.dark) .group:hover .welcome-icons.selfdeclarations [stroke="#D1D5DB"] {
    stroke: #0F766E;
}
:is(.dark) .group:hover .welcome-icons.selfdeclarations [fill="#F3F4F6"] {
    fill: #14B8A6;
}
:is(.dark) .group:hover .welcome-icons.selfdeclarations [fill="#9CA3AF"] {
    fill: #115E59;
}

/* PinpadSDK */
.group:hover .welcome-icons.pinpad-sdk [fill="#D1D5DB"] {
    fill: #2DD4BF;
}
.group:hover .welcome-icons.pinpad-sdk [fill="#E5E7EB"] {
    fill: #99F6E4;
}
.group:hover .welcome-icons.pinpad-sdk [stroke="#E5E7EB"] {
    stroke: #99F6E4;
}
.group:hover .welcome-icons.pinpad-sdk [fill="#F9FAFB"] {
    fill: #F9FAFB;
}
.group:hover .welcome-icons.microsites .frame-image[stroke="#D1D5DB"] {
    stroke: #2DD4BF;
}

/* Dark */
:is(.dark) .welcome-icons.pinpad-sdk [fill="#D1D5DB"] {
    fill: #1F2937;
}
:is(.dark) .welcome-icons.pinpad-sdk [fill="#E5E7EB"] {
    fill: #4B5563;
}
:is(.dark) .welcome-icons.pinpad-sdk [stroke="#E5E7EB"] {
    stroke: #4B5563;
}
:is(.dark) .welcome-icons.pinpad-sdk [fill="#F9FAFB"] {
    fill: #374151;
}

:is(.dark) .group:hover .welcome-icons.pinpad-sdk [fill="#D1D5DB"] {
    fill: #134E4A;
}
:is(.dark) .group:hover .welcome-icons.pinpad-sdk [fill="#E5E7EB"] {
    fill: #0D9488;
}
:is(.dark) .group:hover .welcome-icons.pinpad-sdk [stroke="#E5E7EB"] {
    stroke: #0D9488;
}
:is(.dark) .group:hover .welcome-icons.pinpad-sdk [fill="#F9FAFB"] {
    fill: #0F766E;
}

/* invoices */
.group:hover .welcome-icons.invoices [fill="#F9FAFB"] {
    fill: #F3F4F6;
}
.group:hover .welcome-icons.invoices [stroke="#D1D5DB"] {
    stroke: #D1D5DB;
}
.group:hover .welcome-icons.invoices [fill="#F9FAFB"] {
    fill: #D1D5DB;
}
.group:hover .welcome-icons.invoices .frame-image[fill="#D1D5DB"] {
    fill: #2DD4BF;
}
.group:hover .welcome-icons.invoices [stroke="#D1D5DB"] {
    stroke: #2DD4BF;
}
.group:hover .welcome-icons.invoices [fill="#D1D5DB"] {
    fill: #2DD4BF;
}

/* Dark */
:is(.dark) .welcome-icons.invoices [fill="#D1D5DB"] {
    fill: #1F2937;
}
:is(.dark) .welcome-icons.invoices [fill="#F3F4F6"] {
    fill: #687381;
}
:is(.dark) .welcome-icons.invoices [stroke="#F3F4F6"] {
    stroke: #6B7280;
}
:is(.dark) .welcome-icons.invoices [fill="#D1D5DB"] {
    fill: #465265;
}
:is(.dark) .welcome-icons.invoices [stroke="#D1D5DB"] {
    stroke: #374151;
}
:is(.dark) .welcome-icons.invoices [fill="#D1D5DB"] {
    fill: #374151;
}
:is(.dark) .group:hover .welcome-icons.invoices [fill="#D1D5DB"] {
    fill: #134E4A;
}
:is(.dark) .group:hover .welcome-icons.invoices [stroke="#F3F4F6"] {
    stroke: #264e4b;
}
:is(.dark) .group:hover .welcome-icons.invoices [fill="#F3F4F6"] {
    fill: #0D9488;
}
:is(.dark) .group:hover .welcome-icons.invoices [stroke="#D1D5DB"] {
    stroke: #0D9488;
}
:is(.dark) .group:hover .welcome-icons.invoices [fill="#D1D5DB"] {
    fill: #0F766E;
}
:is(.dark) .group:hover .welcome-icons.invoices [stroke="#D1D5DB"] {
    stroke: #0F766E;
}