openapi: 3.1.0
info:
  title: MSV Service
  version: '1.0'
  description: |
    ## Description:
    This service allows you to send notification or validation messages using channels such as WhatsApp, SMS, or email.

    ## Webhook:
    To use the **webhook**, you must configure a URL on your server that receives the notification through **POST** with the following structure:

    ~~~ json
    {
      "status": {
        "status": "APPROVED",
        "reason": null,
        "message": "The user has responded",
        "date": "2022-08-08 17:23:49"
      },
      "token": "d996b93d-4e81-4896-8f73-aa21010d08de",
      "reference": "0122333444455555",
      "kind": "horus"
      "signature": "feb3e7cc76939c346f9640573a208662f30704ab"
    }
    ~~~

    You can validate that this is a PlacetoPay response by generating a HASH256 with **token + status.status + status.date + secret_token**. For the example above, if the user's **secret_token** were ABCD1234, it would be:
    ~~~
    hash('sha256',"d996b93d-4e81-4896-8f73-aa21010d08deAPPROVED2022-08-08 17:23:49ABCD1234")
    ~~~

    If this value matches the value provided by **signature**, you can authenticate the response and proceed to persist the record in your database.


    Under no circumstances should you expose your **secret_token** in any location accessible to clients or users of your application.
  contact:
    name: Andrés Vidal
    email: andres.vidal@evertecinc.com
    url: https://69fnf1fnzg.execute-api.us-east-1.amazonaws.com/
  termsOfService: https://69fnf1fnzg.execute-api.us-east-1.amazonaws.com/
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: http://msv-service.placetopay.com/
    description: Prod
paths:
  "/api/login":
    post:
      summary: Login
      operationId: post-api-login
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    status:
                      status: OK
                      reason:
                      message:
                      date: '2022-08-16T13:12:18+00:00'
                    access_token: 5d791fa9-91c2-401a-a20e-8e9569e5edec|gYs7WRqfd2NEgiJHOWbaXmyESa1JH4Gs98FDfXBE
                    secret_token: DYJKxUKzgzFaXK2UYkqOy6xd7X1suCnn
                properties:
                  status:
                    type: object
                    properties:
                      status:
                        type: string
                        description: Response status
                        example: OK
                      reason:
                        type: string
                        description: Response code
                        example: 'null'
                      message:
                        type: string
                        description: Response description
                        example: 'null'
                      date:
                        type: string
                        format: date-time
                        description: Response date and time
                        example: '2022-08-16T13:12:18+00:00'
                  access_token:
                    type: string
                    description: User access token
                    example: 5d791fa9-91c2-401a-a20e-8e9569e5edec|gYs7WRqfd2NEgiJHOWbaXmyESa1JH4Gs98FDfXBE
                  secret_token:
                    type: string
                    description: User secret token
                    example: DYJKxUKzgzFaXK2UYkqOy6xd7X1suCnn
              examples:
                example-1:
                  value:
                    status:
                      status: OK
                      reason:
                      message:
                      date: '2022-08-16T13:12:18+00:00'
                    access_token: 5d791fa9-91c2-401a-a20e-8e9569e5edec|gYs7WRqfd2NEgiJHOWbaXmyESa1JH4Gs98FDfXBE
                    secret_token: DYJKxUKzgzFaXK2UYkqOy6xd7X1suCnn
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    status:
                      status: FAILED
                      reason:
                      message: These credentials do not match our records.
                      date: '2022-08-16T13:27:04+00:00'
                properties:
                  status:
                    type: object
                    properties:
                      status:
                        type: string
                        description: Response status
                        example: FAILED
                      reason:
                        type: string
                        description: Response code
                        example: 'null'
                      message:
                        type: string
                        description: Response description
                        example: These credentials do not match our records.
                      date:
                        type: string
                        description: Response date and time
                        format: date-time
                        example: '2022-08-16T13:27:04+00:00'
              examples:
                example-1:
                  value:
                    status:
                      status: FAILED
                      reason:
                      message: These credentials do not match our records.
                      date: '2022-08-16T13:27:04+00:00'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    status:
                      status: FAILED
                      reason:
                      message: The username field is required.
                      date: '2022-08-16T13:22:18+00:00'
                    errors:
                      username:
                        - The username field is required.
                properties:
                  status:
                    type: object
                    properties:
                      status:
                        type: string
                        description: Response status
                        example: FAILED
                      reason:
                        type: string
                        description: Response code
                        example: 'null'
                      message:
                        type: string
                        description: Response description
                        example: The username field is required.
                      date:
                        type: string
                        description: Response date and time
                        example: '2022-08-16T13:22:18+00:00'
                  errors:
                    type: object
                    description: Error structure
                    properties:
                      key:
                        type: array
                        description: Field that did not pass validation
                        items:
                          type: string
                          example: username
              examples:
                example-1:
                  value:
                    status:
                      status: FAILED
                      reason:
                      message: The username field is required.
                      date: '2022-08-16T13:22:18+00:00'
                    errors:
                      username:
                        - The username field is required.
      description: Obtain a token to authenticate requests to the API.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  username: RestService
                  password: password
              required:
                - username
                - password
              properties:
                username:
                  type: string
                  description: Application username
                  example: RestService
                password:
                  type: string
                  description: User-defined password
                  example: password
            examples: {}
        description: ''
      parameters: []
  "/api/validations":
    parameters: []
    post:
      summary: Validation
      operationId: postapi-request
      responses:
        '200':
          description: Webhook Response
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    status:
                      status: APPROVED
                      message: The user has responded
                      date: '2022-08-08 17:23:49'
                    token: d996b93d-4e81-4896-8f73-aa21010d08de
                    reference: '0122333444455555'
                    kind: horus
                    signature: feb3e7cc76939c346f9640573a208662f30704ab
                properties:
                  status:
                    type: object
                    properties:
                      status:
                        type: string
                        description: Response status
                        enum:
                          - PENDING
                          - APPROVED
                          - REJECTED
                          - EXPIRED
                      reason:
                        type:
                          - string
                          - 'null'
                        description: Response code
                        example: 'null'
                      message:
                        type: string
                        description: Response description
                        example: The user has responded.
                      date:
                        type: string
                        format: date-time
                        description: Response date and time
                        example: '2022-08-12T22:27:27+00:00'
                  reference:
                    type: string
                    description: Identifier of the item to validate
                    example: '0122333444455555'
                  token:
                    type: string
                    description: UUID request identifier
                    example: d996b93d-4e81-4896-8f73-aa21010d08de
                  kind:
                    type: string
                    description: Request classification
                    example: horus
                  signature:
                    type: string
                    description: Request signature, composed of hash('sha256',
                      token + status.status + status.date + secret_token)
                    example: feb3e7cc76939c346f9640573a208662f30704ab
        '201':
          description: Validation Response
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    status:
                      status: PENDING
                      message: Pending
                      date: '2022-07-08T09:34:48-05:00'
                    token: 89f2b2dc-27a6-498d-a94b-578ab0e82a05
                    reference: '994887395'
                properties:
                  status:
                    type: object
                    properties:
                      status:
                        type: string
                        description: Response status
                        enum:
                          - PENDING
                          - APPROVED
                          - REJECTED
                          - EXPIRED
                      reason:
                        type:
                          - string
                          - 'null'
                        description: Response code
                        example: '200'
                      message:
                        type: string
                        description: Response description
                        example: Transaction pending approval
                      date:
                        type: string
                        description: Response date and time
                        format: date-time
                        example: '2022-08-08 17:23:49'
                  reference:
                    type: string
                    description: Identifier of the item to validate
                    example: '0122333444455555'
                  token:
                    type: string
                    description: UUID request identifier
                    example: d996b93d-4e81-4896-8f73-aa21010d08de
                  kind:
                    type: string
                    description: Request classification
                    example: horus
        '400':
          description: Exception
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    status:
                      status: FAILED
                      reason: '402'
                      message: "[HTTP 400] Unable to create record: The 'To' number
                        +571234567890 is not a valid phone number."
                      date: '2022-08-08 17:23:49'
                    token: d996b93d-4e81-4896-8f73-aa21010d08de
                    reference: '0122333444455555'
                    kind: horus
                properties:
                  status:
                    type: object
                    properties:
                      status:
                        type: string
                        description: Response status
                        example: FAILED
                      reason:
                        type:
                          - string
                          - 'null'
                        description: Response code
                        example: '400'
                      message:
                        type: string
                        description: Response description
                        example: "[HTTP 400] Unable to create record: The 'To' number
                          +571234567890 is not a valid phone number."
                      date:
                        type: string
                        description: Response date and time
                        format: date-time
                        example: '2022-08-08 17:23:49'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    status:
                      status: FAILED
                      reason:
                      message: The message field is required.
                      date: '2022-08-12T14:50:01+00:00'
                    errors:
                      message:
                        - The message field is required.
                properties:
                  status:
                    type: object
                    properties:
                      status:
                        type: string
                        description: Response status
                        example: FAILED
                      reason:
                        type:
                          - string
                          - 'null'
                        description: Response code
                        example: '400'
                      message:
                        type: string
                        description: Response description
                        example: The message field is required.
                      date:
                        type: string
                        description: Response date and time
                        format: date-time
                        example: '2022-08-12T14:50:01+00:00'
                  errors:
                    type: object
                    description: Error structure
                    properties:
                      key:
                        type: array
                        description: Field that did not pass validation
                        minItems: 1
                        items:
                          type: string
              examples:
                example-1:
                  value:
                    status:
                      status: FAILED
                      reason:
                      message: The message field is required.
                      date: '2022-08-12T14:50:01+00:00'
                    errors:
                      message:
                        - The message field is required.
      description: This service creates a validation request.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  locale: es
                  reference: '994887395'
                  action: notification
                  message: this is a very long and generic message
                  kind: Horus
                  webhook_url: https://domain.com/
                  minutes_by_expire: 15
                  buttons:
                    approve: approved option
                    reject: reject option
                  channels:
                    sms:
                      phone_number: "+571234567890"
                      short_message: this is a short message used on sms channel
                    whatsapp:
                      phone_number: "+571234567890"
                      short_message: this is a short message used on whatsapp channel
                    email:
                      email: example@email.com
                      subject: an example subject for email
              required:
                - reference
                - message
                - webhook_url
                - channels
              properties:
                locale:
                  type: string
                  example: es
                  description: Defines the language to use in ISO 639-1 format
                  minLength: 2
                  maxLength: 2
                reference:
                  type: string
                  description: Identifier of the item to validate
                  example: ref-12548
                message:
                  type: string
                  description: Message displayed in the email and in the approval view.
                kind:
                  type: string
                  description: Field used to classify a request
                  example: Horus
                webhook_url:
                  type: string
                  description: URL where the request response will be sent
                  example: https://example-url.com/
                minutes_by_expire:
                  type: integer
                  example: 20
                  minimum: 1
                  maximum: 60
                  description: 'Number of minutes before a request expires. (Default value: 30, minimum: 1, maximum: 60)'
                buttons:
                  type: object
                  description: Structure that defines the text for the approval and rejection options
                  minProperties: 2
                  maxProperties: 2
                  required:
                    - approve
                    - reject
                  properties:
                    approve:
                      type: string
                      description: Text shown for the approval option
                      example: yes, accept, approved
                    reject:
                      type: string
                      description: Text shown for the rejection option
                      example: no, reject, rejected
                channels:
                  type: object
                  description: Structure required to define the channel details to use
                  properties:
                    sms:
                      type: object
                      required:
                        - phone_number
                        - short_message
                      properties:
                        phone_number:
                          type: string
                          description: Phone number in E.164 format
                          example: "+573124567890"
                          pattern: "^\\+?[1-9]\\d{11,14}$"
                        short_message:
                          type: string
                          description: Short message displayed in SMS
                    whatsapp:
                      type: object
                      required:
                        - phone_number
                        - template
                      properties:
                        phone_number:
                          type: string
                          description: Phone number in E.164 format
                          example: "+573124567890"
                          pattern: "^\\+?[1-9]\\d{11,14}$"
                        template:
                          type: object
                          description: WhatsApp message template
                          required:
                            - name
                            - parameters
                          properties:
                            name:
                              type: string
                              example: hello_world
                            lang:
                              type: string
                              example: en_US
                              description: Language defined by the template created in Meta
                            parameters:
                              type: array
                              description: |-
                                To define the position of the link in the template, use [URL_VALIDATION]. Example:

                                ["Name","Price","Merchant","[URL_VALIDATION]"]
                              items:
                                type: string
                    email:
                      type: object
                      required:
                        - email
                        - subject
                      properties:
                        email:
                          type: string
                          description: Email address
                          format: email
                          example: dnetix@yopmail.com
                        subject:
                          type: string
                          description: Email subject
                          example: Email subject
            examples:
              Email:
                value:
                  locale: en
                  reference: ref-12548
                  message: Example Validation
                  kind: Horus
                  webhook_url: https://example-url.com/
                  minutes_by_expire: 10
                  buttons:
                    approve: yes, accept, approved
                    reject: no, reject, rejected
                  channels:
                    email:
                      email: dnetix@yopmail.com
                      subject: Email subject
              Whatsapp:
                value:
                  locale: en
                  reference: ref-12548
                  message: Example Validation
                  kind: Horus
                  webhook_url: https://example-url.com/
                  minutes_by_expire: 10
                  buttons:
                    approve: yes, accept, approved
                    reject: no, reject, rejected
                  channels:
                    whatsapp:
                      phone_number: "+573124567890"
                      template:
                        name: msv_transaction
                        lang: en
                        parameters:
                          - Name
                          - Price
                          - Merchant
                          - "[URL_VALIDATION]"
              SMS:
                value:
                  locale: en
                  reference: ref-12548
                  message: Example Validation
                  kind: Horus
                  webhook_url: https://example-url.com/
                  minutes_by_expire: 10
                  buttons:
                    approve: Accept
                    reject: Reject
                  channels:
                    sms:
                      phone_number: "+573124567890"
                      short_message: SMS Message
              All:
                value:
                  locale: en
                  reference: ref-12548
                  message: Example Validation
                  kind: Horus
                  webhook_url: https://example-url.com/
                  minutes_by_expire: 20
                  buttons:
                    approve: yes, accept, approved
                    reject: no, reject, rejected
                  channels:
                    sms:
                      phone_number: "+573124567890"
                      short_message: SMS Message
                    whatsapp:
                      phone_number: "+573124567890"
                      template:
                        name: hello_world
                        lang: en_US
                        parameters:
                          - Name
                          - Price
                          - Merchant
                          - "[URL_VALIDATION]"
                    email:
                      email: dnetix@yopmail.com
                      subject: Asunto correo
          application/xml:
            schema:
              type: object
              properties: {}
        description: ''
      parameters: []
      security:
        - Bearer: []
  "/api/validation-query":
    post:
      summary: Validation query
      operationId: post-api-validation-query
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    status:
                      status: APPROVED
                      message: Status validation is APPROVED
                      date: '2022-08-08T16:25:45.839608Z'
                    token: d996b93d-4e81-4896-8f73-aa21010d08de
                    reference: '0122333444455555'
                    kind: horus
                properties:
                  status:
                    type: object
                    properties:
                      status:
                        type: string
                        description: Validation status
                        enum:
                          - PENDING
                          - APPROVED
                          - REJECTED
                          - EXPIRED
                        example: PENDING
                      reason:
                        type:
                          - string
                          - 'null'
                        description: Response code
                        example: 'null'
                      message:
                        type: string
                        description: Response description
                        example: Status validation is PENDING
                      date:
                        type: string
                        description: Response date and time
                        example: '2022-08-16T15:06:36+00:00'
                        format: date-time
                  token:
                    type: string
                    description: UUID request identifier
                    example: d996b93d-4e81-4896-8f73-aa21010d08de
                  reference:
                    type: string
                    description: Identifier of the item to validate
                    example: '0122333444455555'
                  kind:
                    type: string
                    description: Field used to classify a request
                    example: horus
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    message: The password field is required.
                    errors:
                      password:
                        - The password field is required.
                properties:
                  status:
                    type: object
                    properties:
                      status:
                        type: string
                        description: Response status
                        example: FAILED
                      reason:
                        type:
                          - string
                          - 'null'
                        description: Response code
                        example: '400'
                      message:
                        type: string
                        description: Response description
                        example: The token field is required.
                      date:
                        type: string
                        description: Response date and time
                        example: '2022-08-12T14:50:01+00:00'
                  errors:
                    type: object
                    description: Error structure
                    properties:
                      key:
                        type: array
                        description: Field that did not pass validation
                        items:
                          type: string
              examples:
                example-1:
                  value:
                    message: The token field is required.
                    errors:
                      token:
                        - The token field is required.
      description: Query a previously created validation request.
      security:
        - Bearer: []
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  example: a99e9b26-bc32-4454-b49b-68e08f1976ab
                  description: Token generated by the Validations method
              required:
                - token
  "/api/notifications":
    parameters: []
    post:
      summary: Notification
      operationId: postapi-requests
      responses:
        '200':
          description: Notification Response
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    status:
                      status: PENDING
                      message: Pending
                      date: '2022-07-08T09:34:48-05:00'
                    token: 89f2b2dc-27a6-498d-a94b-578ab0e82a05
                    reference: '994887395'
                properties:
                  status:
                    type: object
                    properties:
                      status:
                        type: string
                        description: Response status
                        example: OK
                      reason:
                        type:
                          - string
                          - 'null'
                        description: Response code
                        example: 'null'
                      message:
                        type: string
                        description: Response description
                        example: The message was sent successfully
                      date:
                        type: string
                        description: Response date and time
                        format: date-time
                        example: '2022-08-12T15:44:17+00:00'
              examples:
                Ok:
                  value:
                    status:
                      status: OK
                      reason: 'null'
                      message: The message was sent successfully
                      date: '2022-08-12T15:44:17+00:00'
        '400':
          description: Exception
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    status:
                      status: FAILED
                      reason: '400'
                      message: "[HTTP 400] Unable to create record: The 'To' number +571234567890 is not a valid phone number."
                      date: '2022-08-12T14:50:01+00:00'
                properties:
                  status:
                    type: object
                    properties:
                      status:
                        type: string
                        description: Response status
                        example: FAILED
                      reason:
                        type:
                          - string
                          - 'null'
                        description: Response code
                        example: '400'
                      message:
                        type: string
                        description: Response description
                        example: "[HTTP 400] Unable to create record: The 'To' number
                          +571234567890 is not a valid phone number."
                      date:
                        type: string
                        format: date-time
                        description: Response date and time
                        example: '2022-08-12T14:50:01+00:00'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    status:
                      status: FAILED
                      reason:
                      message: The message field is required.
                      date: '2022-08-12T14:50:01+00:00'
                    errors:
                      message:
                        - The message field is required.
                properties:
                  status:
                    type: object
                    properties:
                      status:
                        type: string
                        description: Response status
                        example: FAILED
                      reason:
                        type:
                          - string
                          - 'null'
                        description: Response code
                        example: '400'
                      message:
                        type: string
                        description: Response description
                        example: The message field is required.
                      date:
                        type: string
                        format: date-time
                        description: Response date and time
                        example: '2022-08-12T14:50:01+00:00'
                  errors:
                    type: object
                    description: Error structure
                    properties:
                      key:
                        type: array
                        description: Field that did not pass validation
                        minItems: 1
                        items:
                          type: string
                          example: locale
              examples:
                example-1:
                  value:
                    status:
                      status: FAILED
                      reason: '400'
                      message: The message field is required.
                      date: '2022-08-12T14:50:01+00:00'
                    errors:
                      message:
                        - The message field is required.
      description: This service creates a notification request.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  locale: es
                  reference: '994887395'
                  action: notification
                  message: this is a very long and generic message
                  kind: Horus
                  webhook_url: https://domain.com/
                  minutes_by_expire: 15
                  buttons:
                    approve: approved option
                    reject: reject option
                  channels:
                    sms:
                      phone_number: "+571234567890"
                      short_message: this is a short message used on sms channel
                    whatsapp:
                      phone_number: "+571234567890"
                      short_message: this is a short message used on whatsapp channel
                    email:
                      email: example@email.com
                      subject: an example subject for email
              required:
                - message
                - channels
              properties:
                locale:
                  type: string
                  minLength: 2
                  maxLength: 2
                  example: es
                  description: Defines the language to use in ISO 639-1 format
                message:
                  type: string
                  description: Message that will be displayed in the email.
                  example: this is a very long and generic message
                kind:
                  type: string
                  description: Field used to classify a request
                  example: Horus
                channels:
                  type: object
                  description: Structure required to define the channel details to use
                  properties:
                    sms:
                      type: object
                      required:
                        - phone_number
                        - short_message
                      properties:
                        phone_number:
                          type: string
                          description: Phone number in E.164 format
                          example: "+573124567890"
                          pattern: "^\\+?[1-9]\\d{11,14}$"
                        short_message:
                          type: string
                          description: Short message displayed in SMS
                          example: sms message
                    whatsapp:
                      type: object
                      required:
                        - phone_number
                        - template
                      properties:
                        phone_number:
                          type: string
                          description: Phone number in E.164 format
                          example: "+573124567890"
                          pattern: "^\\+?[1-9]\\d{11,14}$"
                        template:
                          type: object
                          description: WhatsApp message template
                          required:
                            - name
                            - parameters
                          properties:
                            name:
                              type: string
                              example: hello_world
                            lang:
                              type: string
                              example: en_US
                              description: Language defined by the template created in Meta
                            parameters:
                              type: array
                              description: 'Example: ["Name", "Price", "Merchant"]'
                              items:
                                type: string
                    email:
                      type: object
                      required:
                        - email
                        - subject
                      properties:
                        email:
                          type: string
                          description: Email address
                          format: email
                          example: test@email.com
                        subject:
                          type: string
                          description: Email subject
                          example: Email subject
                site_id:
                  type: integer
                  x-stoplight:
                    id: 2c8tpihdr5e35
                  description: Site ID
                  example: 123
            examples:
              All:
                value:
                  locale: en
                  message: this is a very long and generic message
                  kind: Horus
                  channels:
                    whatsapp:
                      phone_number: "+573124567890"
                      template:
                        name: hello_world
                        lang: en_US
                        parameters:
                          - name
                    sms:
                      phone_number: "+573124567890"
                      short_message: sms message
                    email:
                      email: mail@test.com
                      subject: email subject
              Email:
                value:
                  locale: en
                  message: this is a very long and generic message
                  kind: Horus
                  channels:
                    email:
                      email: test@email.com
                      subject: Email subject
              Whatsapp:
                value:
                  locale: en
                  message: this is a very long and generic message
                  kind: Horus
                  channels:
                    whatsapp:
                      phone_number: "+573124567890"
                      template:
                        name: hello_world
                        lang: en_US
                        parameters:
                          - name
              SMS:
                value:
                  locale: en
                  message: this is a very long and generic message
                  kind: Horus
                  channels:
                    sms:
                      phone_number: "+573124567890"
                      short_message: sms message
        description: ''
      security:
        - Bearer: []
      parameters: []
components:
  schemas: {}
  responses: {}
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
